@import "var";
@import "typography";

$body-min-width: 300px;
$body-color: $text;
$body-font-size: 14px;
$body-weight: 400;
$body-line-height: 24px;

$strong-color: $text-strong;
$strong-weight: 700;

$headings-weight: 700;

$small-font-size: 10px;

html {
  background-color: $background;
  min-width: $body-min-width;
}

body,
button,
input,
select,
textarea {
  font-family: $family-primary;
}

body {
  @include text;
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
  &:visited {
    color: $link-visited;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: $small-font-size;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $strong-color;
  font-weight: $strong-weight;
}

fieldset {
  border: none;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
