@import "var";

$body-background-color: $background;
$body-min-width: 300px;
$body-font-family: $family-primary;
$body-color: $text;
$body-font-size: 14px;
$body-weight: 400;
$body-line-height: 24px;

$strong-color: $text-strong;
$strong-weight: 700;

$headings-weight: 700;

$small-font-size: 10px;

html {
  background-color: $body-background-color;
  font-size: $body-font-size;
  min-width: $body-min-width;
}

body,
button,
input,
select,
textarea {
  font-family: $body-font-family;
}

body {
  color: $body-color;
  font-size: $body-font-size;
  font-weight: $body-weight;
  line-height: $body-line-height;
}

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
  &:visited {
    color: $link-visited;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: $small-font-size;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: $strong-color;
  font-weight: $strong-weight;
}

fieldset {
  border: none;
}

.h1,
h1 {
  color: $headings-color;
  font-family: $family-secondary;
  font-weight: $headings-weight;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
}

.h2,
h2 {
  color: $headings-color;
  font-family: $family-secondary;
  font-weight: $headings-weight;
  font-style: normal;
  font-size: 19px;
  line-height: 24px;
}

.h3,
h3 {
  color: $headings-color;
  font-weight: $headings-weight;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  color: $headings-color;
  font-size: $body-font-size;
  font-weight: $headings-weight;
}
