$family-primary: "Montserrat", sans-serif;
$family-secondary: "Quicksand", sans-serif;

//Colors
$dark-100: #1F2041;
$dark-75: rgba(31, 32, 65, 0.75);
$dark-50: rgba(31, 32, 65, 0.5);
$dark-25: rgba(31, 32, 65, 0.25);
$dark-5: rgba(31, 32, 65, 0.05);
$primary: #BC9CFF;
$secondary: #6FCF97;
$info: hsl(204, 86%,  53%);
$success:  green;
$warning: yellow;
$danger: red;
$light: hsl(0, 0%, 96%);
$dark: #1F2041;
$background: #FFFFFF;

//Text colors
$text: $dark-75;
$text-light: $dark-50;
$text-strong: $dark-100;
$headings-color: $dark-100;

// Link colors
$link: blue;
$link-visited: purple;
$link-hover: grey;
$link-hover-border: lightgray;
$link-focus: grey;
$link-focus-border: blue;
$link-active: grey;
$link-active-border: grey;

//Responsive
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$easing: ease-out;
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$speed: 100ms;