.date-range-field {
  width: 320px;
  border-radius: $radius;
  border: 1px solid $dark-25;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  &__title {
    @include heading2;
  }

  &__control {
    cursor: pointer;
  }

  &__control--prev {
    @include icon("../img/icons/arrow_back.svg", 24px);
  }

  &__control--next {
    @include icon("../img/icons/arrow_forward.svg", 24px);
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-50;
    width: 40px;
    height: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    &--notcurrent {
      color: $dark-25;
    }
    &--highlighted {
      background-color: $primary-light;
    }
    &--highlighted-first {
      background-color: $primary-light;
      border-radius: 50% 0 0 50%;
    }
    &--highlighted-last {
      background-color: $primary-light;
      border-radius: 0 50% 50% 0;
    }
    &--selected {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $primary;
      color: #ffffff;
      font-weight: 700;
    }
  }

  &__weekdays-item {
    @extend .date-range-field__day;
    color: $primary;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  &__footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    @include heading3;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &--primary {
      color: $primary;
      &:hover {
        color: darken($primary, 10);
      }
    }
    &--secondary {
      color: $dark-50;
      &:hover {
        color: darken($dark-50, 25);
      }
    }
  }
}
