@mixin form-field {
  &__label{
    display: block;
    @include heading3;
    margin-bottom: 5px;
  }
  &__input{
    border: 1px solid $dark-25;
    display: block;
    height: 44px;
    outline: none;
    border-radius: $radius;
    padding: 0 15px;
    @include text;
    &:focus, &:hover {
      border-color: $dark-50;   
    }
    &::placeholder {
      color: $dark-25;
    }
  }
}
